//- This is how we extend a template using the 'extends' keyword
//--extends ../../../templates/master.pug
   
//- This is how we insert dynamic content to extended templates
//--block content
   h1.title CurrusIS!
   hr
   h2.title2 Following is the list of the Vehicle Table.
   ul
     each   user in users
         li= `${user.id} - ${user.brand} - ${user.model} - ${user.yr}`

//--         //- This is how we extend a template using the 'extends' keyword
extends ../../../templates/master.pug
//- This is how we insert dynamic content to extended templates
block content
    h1.title Plate Number and Condition
        ul
        //- This is how we iterate through arrays and access
        //- their elements
    <table border ="2">
        thead
            tb 
                th ID
                th Brand 
                th Model 
                th Year
            each user in users
                        tr 
                            td= user.id
                            td= user.brand
                            td= user.model
                            td= user.yr
            a(class = 'button',href = '/index') BACK
        p
    p VIEW SPECIFIC
        p
    form(method="POST" action="/view/view")
        .field
            .label Input ID
            .control
                input.input(type="number" placeholder="ID" name="id")
        input(type="submit" value="Submit")
